/*
* Hier sind alle möglichen standardmäßig festgelegten "themes" festgelegt.
* Hierzu gehören Farben, Textgrößen, etc...
*
* Autor: Maciej Dzialoszynski
* Letzte Änderung: 04.11.18
*/

$primary-dark-color: #94618E; // grape
$secondary-dark-color: #49274A; // eggplant
$primary-light-color: #F4DECB; // sand
$secondary-light-color: #F8EEE7; // shell

$primary-font: Arial, Helvetica, sans-serif;

$breakpoints: (
    "phone":        350px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

$primar-title-size: 20pt;
