/*
* Hier sind alle möglichen standardmäßig festgelegten "themes" festgelegt.
* Hierzu gehören Farben, Textgrößen, etc...
*
* Autor: Maciej Dzialoszynski
* Letzte Änderung: 04.11.18
*/

$primary-dark-color: #94618E; // grape
$secondary-dark-color: #49274A; // eggplant
$primary-light-color: #F4DECB; // sand
$secondary-light-color: #F8EEE7; // shell

$primary-font: Arial, Helvetica, sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}
// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}
$primar-title-size: 20pt;
