/*
* Hier sind alle möglichen standardmäßig festgelegten "themes" festgelegt.
* Hierzu gehören Farben, Textgrößen, etc...
*
* Autor: Maciej Dzialoszynski
* Letzte Änderung: 04.11.18
*/

$primary-dark-color: #94618E; // grape
$secondary-dark-color: #49274A; // eggplant
$primary-light-color: #F4DECB; // sand
$secondary-light-color: #F8EEE7; // shell

$primary-font: Arial, Helvetica, sans-serif;