/*
* 
* Autor: Maciej Dzialoszynski
* Letzte Änderung: 07.11.18
*/

.index__body {
    background-color: $secondary-light-color;
    font-family: $primary-font;
    margin-left: auto;
    margin-right: auto;
    padding-top: 400px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    header {
        width: 100%;
        position: fixed;
        z-index: 9999;
        top: 0;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

@keyframes index__headerUpper {
    from {}

    to {
        background-color: $secondary-light-color;
    }
}

.index__headerUpper {
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity/see-through */
    display: flex;
    justify-content: center;
    align-content: center;

    animation-name: index__headerUpper;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

$links-border-radius: 15px;

.index__links {
    align-self: center;
    background-color: $secondary-light-color;
    color: $primary-dark-color;

    border-radius: 0 0 $links-border-radius $links-border-radius;

    a:hover {
        background-color: $primary-dark-color;
        color: $secondary-light-color;
    }

    a {
        text-decoration: none;
        padding: 8px;
        display: inline-block;
        color: $primary-dark-color;
    }

    .left {
        border-radius: 0 0 0 $links-border-radius;
    }

    .right {
        border-radius: 0 0 $links-border-radius 0;
    }
}


.index__logo {
    height: 100px;
    padding: 10px 0;
    transition: all 0.4s ease-in-out;
}


.index__jumbotronBackground {
    position: absolute;
    top: 0px;
    background-image: url("../homepage/images/jumbotron.jpg");
    height: 700px;
    width: 100%;
    box-shadow: 0 0 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index__jumbotronTextfield {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin-bottom: 150px;
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100px;
    position: relative;
    margin-bottom: 80px;
    margin-top: 10px;

    div {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
    }
}

footer {
    background-color: $secondary-light-color;

    div {
        margin-left: 10%;
        margin-right: 10%;

        a {
            color: $secondary-dark-color;
            font-family: sans-serif;
        }

        a:hover {
            color: $primary-dark-color;
        }
    }
}
